airflow-code-editor
black
fs-s3fs
s3fs
apache-airflow-providers-slack
boto3
botocore
dnspython
graphviz
gspread
lightgbm
numpy
optuna==3.2.0
pandas
prison==0.2.1
psycopg2-binary==2.9.5
pymongo==4.3.3
requests
s3transfer
scikit-learn
scipy
slack-sdk
SQLAlchemy
SQLAlchemy-JSONField
SQLAlchemy-Utils
sqlparse
tabulate
text-unidecode
tqdm
nest-asyncio
